[Desktop Entry]
Version=1.0
Name=ProgramName
Comment=This is my comment
Exec=python3 /home/codebox/Desktop/test.py
#Icon=/usr/share/MyApp/MyApp.py
#Path=/usr/share/MyApp/
Terminal=true
Type=Application
Categories=Utility;Application;